.blog-nav{
  background: $primary-dark;
  @include mobile{
    display: none;
  }
  .blogMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.blogMenuList{
  display: flex;
  li{
    &:first-child{
      margin-left: -24px;
      @include pad{
        margin-left: -16px;
      }
    }
  }
  a{
    display: block;
    padding: 12px $spacer*3;
    color: $white;
    @include pad{
      padding: $spacer $spacer*2;
    }
    &:hover{
      background: $primary;
    }
  }
}

.blog-search{
  a{
    display: block;
    width: 40px;
  }
  i{
    color: $white;
    font-size: $font-base*2;
  }
}

.blog{
  padding-top: $spacer*5;
  padding-bottom: $spacer*20;
  @include pad{
    padding-top: $spacer*4;
    padding-bottom: $spacer*12;
  }
  @include mobile{
    padding-top: $spacer*3.5;
    padding-bottom: $spacer*7;
  }
  h2{
    @include title;
    @include mobile{
      margin-bottom: $spacer*3.5;
    }
  }
}

.blogList{
  margin-bottom: $spacer*12;
  @include pad{
    margin-bottom: $spacer*7;
  }
  @include mobile{
    margin-bottom: $spacer*5;
  }
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer*7.5;
    height: 400px;
    @include pad{
      margin-bottom: $spacer*3;
      height: 208px;
    }
    @include mobile{
      flex-wrap: wrap;
      height: auto;
      margin-bottom: $spacer*2.5;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .blog-img{
    width: 57%;
    @include pad{
      width: 48%;
    }
    @include mobile{
      width: 100%;
      margin-bottom: $spacer;
    }
    img{
      width: 100%;
      object-fit: cover;
      height: 400px;
      @include pad{
        height: 208px;
      }
      @include mobile{
        height: 217px;
      }
    }
  }
  .blog-body{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include pad{
      width: 48%;
    }
    @include mobile{
      width: 100%;
    }
    h4{
      font-size: $fs5-font;
      color: $primary-dark;
      @include pad{
        font-size: $fs7-font;
      }
      @include mobile{
        font-size: $font-base;
      }
    }
  }
  .blog-content{
    @include pad{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    >p{
      font-size: $fs7-font;
      color: $black-light;
      @include pad{
        font-size: $fs8-font;
      }
      @include mobile{
        display: none;
      }
    }
    span{
      display: none;
      @include pad{
        display: inline;
      }
      a{
        color: $black-light;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pad{
      margin-bottom: 0;
    }
    p{
      font-size: $fs7-font;
      @include pad{
        font-size: $font-base;
      }
      @include mobile{
        font-size: $fs8-font;
      }
    }
    .date{
      font-size: $fs8-font;
    }
  }
  .moreBtn{
    display: flex;
    justify-content: flex-end;
    line-height: 1;
    align-items: flex-end;
    @include pad{
      display: none;
    }
    a{
      color: $primary-dark;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

