$primary: #AA0601;
$secondary: #650300;
$gray: #707070;
$bg-color: #FBF2F2;
$content: #212529;

$white: #fff;
$black: #000;

$spacer: 8px;

$font-base: 1rem;
$fs1-font: $font-base*4.5; // 72px
$fs2-font: $font-base*4; // 64px
$fs3-font: $font-base*3; // 48px
$fs4-font: $font-base*2.25; // 36px
$fs5-font: $font-base*2; // 32px
$fs6-font: $font-base*1.5; // 24px
$fs7-font: $font-base*1.25; // 20px
$fs8-font: $font-base*0.875; // 14px



