@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

body {
  font-family: "Roboto", sans-serif, "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 109px; }
  @media (max-width: 767px) {
    body {
      padding-top: 150px; } }

a {
  text-decoration: none; }

select:focus, input:focus, textarea:focus {
  outline: none; }

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 767px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7 {
  margin-bottom: 56px; }

.mb-8 {
  margin-bottom: 60px; }

.mb-9 {
  margin-bottom: 72px; }

.mb-10 {
  margin-bottom: 80px; }

.pt-2 {
  padding-top: 16px; }

.pt-8 {
  padding-top: 60px; }

.pb-2 {
  padding-top: 16px; }

.pb-8 {
  padding-bottom: 60px; }

.pb-10 {
  padding-bottom: 80px; }

.fs-1 {
  font-size: 4.5rem; }

.fs-2 {
  font-size: 4rem; }

.fs-3 {
  font-size: 3rem; }

.fs-4 {
  font-size: 2.25rem; }

.fs-5 {
  font-size: 1.5rem; }

.fs-6 {
  font-size: 1.25rem; }

.fs-7 {
  font-size: 0.875rem; }

.text-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.header {
  background: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 88px;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0; }
  @media (max-width: 992px) {
    .header {
      padding: 0 40px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0; }
      .header h1 {
        width: 100%;
        padding: 10px 0;
        text-align: center; } }

.logo {
  display: inline-block;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png") no-repeat;
  background-size: cover;
  width: 80px;
  height: 49px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 767px) {
    .logo {
      width: 48px;
      height: 30px; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    .menu {
      width: 100%; } }
  .menu li:last-child {
    margin-right: -32px; }
  @media (max-width: 992px) {
    .menu li:last-child {
      margin-right: -20px; } }
  @media (max-width: 767px) {
    .menu li {
      width: 50%;
      border-top: 1px solid #fff; }
      .menu li:nth-child(odd) {
        border-right: 1px solid #fff; } }
  .menu a {
    display: block;
    color: #fff;
    font-size: 1.25rem;
    padding: 40px 32px;
    text-align: center; }
    .menu a:hover {
      background: #650300; }
    @media (max-width: 992px) {
      .menu a {
        padding-left: 20px;
        padding-right: 20px; } }
    @media (max-width: 767px) {
      .menu a {
        padding: 8px 0; } }

.footer {
  background: #AA0601;
  padding-top: 48px;
  padding-bottom: 40px; }
  @media (max-width: 992px) {
    .footer {
      padding: 32px 0; } }
  @media (max-width: 767px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 16px; } }

@media (max-width: 992px) {
  .footer-content {
    margin-bottom: 20px; } }

@media (max-width: 767px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 24px; } }

.footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .footerMenu {
      margin-bottom: 18px; } }
  @media (max-width: 767px) {
    .footerMenu {
      margin-bottom: 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.footerMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .footerMenuList {
      display: none; } }
  .footerMenuList li:first-child {
    margin-left: -24px; }
    @media (max-width: 992px) {
      .footerMenuList li:first-child {
        margin-left: -20px; } }
  .footerMenuList a {
    color: #fff;
    display: block;
    padding: 12px 24px; }
    @media (max-width: 992px) {
      .footerMenuList a {
        padding: 6px 20px; } }
    .footerMenuList a:hover {
      color: yellow; }

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -32px; }
  @media (max-width: 992px) {
    .socialList {
      margin-left: -24px; } }
  .socialList li {
    margin-left: 32px; }
    @media (max-width: 992px) {
      .socialList li {
        margin-left: 24px; } }
  .socialList i {
    color: #fff;
    font-size: 3rem; }
    .socialList i:hover {
      color: yellow; }
    @media (max-width: 992px) {
      .socialList i {
        font-size: 1.5rem; } }

.infoList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .infoList li:first-child {
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .infoList li:first-child {
        margin-bottom: 12px; } }
    @media (max-width: 767px) {
      .infoList li:first-child {
        margin-bottom: 6px; } }

.infoList .info-img {
  width: 48px;
  margin-right: 16px; }
  @media (max-width: 992px) {
    .infoList .info-img {
      width: 24px;
      margin-right: 8px; } }
  @media (max-width: 767px) {
    .infoList .info-img {
      width: 20px;
      margin-right: 4px; } }

.infoList a {
  color: #fff; }
  @media (max-width: 992px) {
    .infoList a {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    .infoList a {
      font-size: 1rem; } }
  .infoList a:hover {
    color: yellow; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 32px;
  border-top: 1px solid #fff; }
  @media (max-width: 992px) {
    .copyright {
      padding-top: 24px; } }
  @media (max-width: 767px) {
    .copyright {
      padding-top: 16px;
      display: block; }
      .copyright p {
        font-size: 0.875rem;
        margin-bottom: 8px; } }
  .copyright .privacyList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .copyright .privacyList {
        display: block; } }
    .copyright .privacyList li {
      margin-left: 48px; }
      @media (max-width: 992px) {
        .copyright .privacyList li {
          margin-left: 24px; } }
      @media (max-width: 767px) {
        .copyright .privacyList li {
          margin-left: 0;
          margin-bottom: 8px; } }
    .copyright .privacyList a {
      color: #fff; }
      @media (max-width: 992px) {
        .copyright .privacyList a {
          font-size: 0.875rem; } }
      .copyright .privacyList a:hover {
        color: yellow; }

.form input, .form textarea {
  width: 100%;
  padding: 14px 16px; }
  @media (max-width: 992px) {
    .form input, .form textarea {
      padding: 8px 12px; } }

@media (max-width: 992px) {
  .form .form-control {
    margin-bottom: 8px; } }

.form label {
  margin-bottom: 4px; }
  @media (max-width: 992px) {
    .form label {
      font-size: 0.875rem; } }

.form .agree input {
  width: auto;
  font-size: 0.875rem; }

.form .submitBtn {
  background: #AA0601;
  color: #fff;
  padding: 16px 143px;
  border: 0;
  margin-top: 40px; }
  @media (max-width: 992px) {
    .form .submitBtn {
      margin-top: 20px;
      padding: 10px 77px;
      font-size: 0.875rem; } }
  @media (max-width: 767px) {
    .form .submitBtn {
      padding: 8px 55px; } }
  .form .submitBtn:hover {
    cursor: pointer;
    background: #650300; }

.form-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .form-select {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .form-select {
      margin-bottom: 20px; } }
  .form-select label {
    margin-right: 20px; }
    @media (max-width: 992px) {
      .form-select label {
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .form-select label {
        font-size: 0.875rem;
        width: 20%;
        margin-right: 12px; } }
  .form-select select {
    padding: 8px 16px;
    width: 30%;
    font-size: 18px; }
    @media (max-width: 992px) {
      .form-select select {
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .form-select select {
        font-size: 0.875rem;
        width: 80%; } }

/* location card */
.location-card {
  border: 1px solid #00000020; }
  .location-card .card-img {
    height: 224px;
    overflow: hidden; }
    @media (max-width: 992px) {
      .location-card .card-img {
        height: 164px; } }

.card-body {
  color: #212529; }
  .card-body h3 {
    padding: 12px 24px;
    border-bottom: 1px solid #00000020; }
    @media (max-width: 992px) {
      .card-body h3 {
        padding: 8px 16px;
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .card-body h3 {
        padding: 8px 24px; } }
  .card-body .cardList {
    padding: 16px 24px; }
    .card-body .cardList li {
      font-size: 1.25rem; }
      @media (max-width: 992px) {
        .card-body .cardList li {
          font-size: 0.875rem; } }
    .card-body .cardList .card-icon {
      display: inline-block;
      width: 24px;
      margin-right: 8px; }
      @media (max-width: 992px) {
        .card-body .cardList .card-icon {
          width: 20px; } }

/* product card */
.product-card .card-img {
  height: 164px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .product-card .card-img {
      height: 166px; } }
  .product-card .card-img img {
    width: 100%; }

.product-card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .product-card .card-content p {
    color: #AA0601; }

.product-card .colorList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-card .colorList li {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px; }
    .product-card .colorList li:first-child {
      background: #5F3E2D; }
    .product-card .colorList li:last-child {
      background: #B75929; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination li {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555; }
    .pagination li:first-child {
      border-left: 1px solid #555555; }
  .pagination a {
    display: block;
    padding: 12px 16px;
    font-size: 1.125rem;
    color: #555555; }
    @media (max-width: 767px) {
      .pagination a {
        font-size: 0.875rem;
        padding: 12px 14px; } }
    .pagination a:hover {
      background: #000;
      color: #fff; }
  .pagination .pre-page, .pagination .next-page {
    padding: 12px 12px; }
  .pagination .next-page {
    background: #FBF2F2; }
  .pagination .active {
    background: #000;
    color: #fff; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .breadcrumb li:first-child {
    margin-left: -4px; }
  @media (max-width: 992px) {
    .breadcrumb li {
      font-size: 0.875rem; } }
  .breadcrumb a {
    margin: 0 4px;
    color: #000; }
    .breadcrumb a:hover {
      text-decoration: underline; }
  .breadcrumb .active {
    color: #AA0601; }

.index-banner {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png") no-repeat;
  height: calc(100vh - 109px); }
  @media (max-width: 992px) {
    .index-banner {
      background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 767px) {
    .index-banner {
      height: 394px; } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.title {
  color: #650300;
  text-align: end; }
  @media (max-width: 992px) {
    .title h2 {
      font-size: 3rem; }
    .title p {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    .title h2 {
      font-size: 2rem; }
    .title p {
      font-size: 1rem; } }

.feature {
  background: #FBF2F2; }
  @media (max-width: 992px) {
    .feature {
      padding-top: 40px;
      padding-bottom: 24px;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .feature {
      padding-top: 32px;
      padding-bottom: 8px;
      margin-bottom: 32px; } }
  .feature h3 {
    color: #650300; }
    @media (max-width: 992px) {
      .feature h3 {
        font-size: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .feature h3 {
        font-size: 1.5rem; } }

.featureList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .featureList li {
    width: 23%; }
    @media (max-width: 992px) {
      .featureList li {
        width: 45%;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .featureList li {
        width: 80%;
        margin: 0 auto 32px auto; } }
  .featureList .feature-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px; }
  .featureList h4 {
    color: #650300;
    font-weight: bold; }

.classic h3 {
  margin-bottom: 40px;
  color: #650300; }
  @media (max-width: 992px) {
    .classic h3 {
      font-size: 2rem;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .classic h3 {
      font-size: 1.25rem;
      margin-bottom: 10px; } }

@media (max-width: 992px) {
  .classicList {
    margin-bottom: 56px; } }

.classicList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 992px) {
    .classicList li {
      margin-bottom: 8px; } }
  @media (max-width: 767px) {
    .classicList li {
      width: 100%;
      position: relative; } }

.classicList .classic-img {
  margin-right: 30px;
  width: 57%; }
  @media (max-width: 767px) {
    .classicList .classic-img {
      width: 100%;
      margin-right: 0; } }
  .classicList .classic-img img {
    width: 100%; }

.classicList .classic-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 30px; }
  @media (max-width: 992px) {
    .classicList .classic-reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-right: 0; } }
  .classicList .classic-reverse .classic-img {
    margin-right: 0;
    margin-left: 30px; }
    @media (max-width: 992px) {
      .classicList .classic-reverse .classic-img {
        margin-left: 0;
        margin-right: 30px; } }
    @media (max-width: 767px) {
      .classicList .classic-reverse .classic-img {
        margin-right: 0; } }

.classicList h4 {
  color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic; }
  .classicList h4 img {
    margin-right: 10px; }
  @media (max-width: 992px) {
    .classicList h4 {
      font-size: 1.75rem; } }
  @media (max-width: 767px) {
    .classicList h4 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.joint {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png") no-repeat;
  background-position: 0 center; }
  @media (max-width: 992px) {
    .joint {
      padding-top: 40px;
      padding-bottom: 56px;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .joint {
      padding-top: 32px;
      padding-bottom: 24px;
      margin-bottom: 32px; } }
  .joint h3 {
    color: #fff; }
    @media (max-width: 992px) {
      .joint h3 {
        font-size: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .joint h3 {
        font-size: 1.25rem;
        margin-bottom: 20px; } }

.jointList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .jointList li {
    width: 48%;
    position: relative; }
    @media (max-width: 767px) {
      .jointList li {
        width: 100%;
        margin-bottom: 16px; } }
    .jointList li h3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #AA0601;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.5); }
      @media (max-width: 992px) {
        .jointList li h3 {
          font-size: 2rem; } }

@media (max-width: 992px) {
  .recommand {
    margin-bottom: 24px; } }

.recommand h3 {
  color: #650300; }
  @media (max-width: 992px) {
    .recommand h3 {
      font-size: 2rem;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .recommand h3 {
      font-size: 1.25rem;
      margin-bottom: 20px; } }

.recommandList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .recommandList li {
    width: 23%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    @media (max-width: 992px) {
      .recommandList li {
        width: 48%;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .recommandList li {
        width: 100%;
        margin-bottom: 16px; } }
  .recommandList .recommand-img img {
    border-radius: 4px 4px 0 0;
    width: 100%; }
  .recommandList .recommand-content {
    color: #212529;
    padding: 16px;
    height: 204px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .recommandList .recommand-content {
        padding-left: 24px;
        padding-right: 24px; } }
  .recommandList .name {
    display: block; }
  .recommandList .date {
    color: #707070; }

.contact {
  background: #FBF2F2;
  padding-bottom: 96px; }
  @media (max-width: 992px) {
    .contact {
      padding-top: 40px;
      padding-bottom: 66px; } }
  @media (max-width: 767px) {
    .contact {
      padding-top: 30px;
      padding-bottom: 40px; } }
  @media (max-width: 992px) {
    .contact h3 {
      font-size: 2rem;
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .contact h3 {
      font-size: 1.25rem;
      margin-bottom: 20px; } }
  .contact p {
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .contact p {
        font-size: 1rem;
        margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .contact p {
        margin-bottom: 8px; } }

.contact-content {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .contact-content {
      width: 80%; } }
  @media (max-width: 767px) {
    .contact-content {
      width: 100%; } }

.productMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .productMenu li {
    width: 33.3333%;
    text-align: center; }
    .productMenu li:first-child {
      border-left: 1px solid #707070;
      margin-left: -1px; }
  .productMenu .active {
    border-bottom: 8px solid #AA0601; }
    @media (max-width: 767px) {
      .productMenu .active {
        border-bottom: 4px solid #AA0601; } }
  .productMenu a {
    display: block;
    font-size: 2rem;
    color: #000;
    height: 96px;
    padding-top: 24px;
    border-right: 1px solid #707070; }
    .productMenu a:hover {
      border-bottom: 8px solid #AA0601; }
      @media (max-width: 767px) {
        .productMenu a:hover {
          border-bottom: 4px solid #AA0601; } }
    @media (max-width: 992px) {
      .productMenu a {
        font-size: 1.5rem;
        height: 60px;
        padding-top: 14px; } }
    @media (max-width: 767px) {
      .productMenu a {
        font-size: 0.875rem;
        padding-top: 5px;
        height: 30px; } }
  @media (max-width: 992px) {
    .productMenu img {
      width: 32px;
      height: 32px; } }
  @media (max-width: 767px) {
    .productMenu img {
      width: 16px;
      height: 16px; } }

.bannerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 304px; }
  @media (max-width: 767px) {
    .bannerList {
      height: 148px; } }
  .bannerList li {
    width: 50%; }
    .bannerList li:first-child {
      background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-1.png") no-repeat center;
      background-size: cover; }
    .bannerList li:last-child {
      background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-2.png") no-repeat center;
      background-size: cover; }

.product {
  padding-top: 80px;
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .product {
      padding-top: 56px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .product {
      padding-top: 32px;
      padding-bottom: 56px; } }
  .product h2 {
    font-size: 2.625rem; }
    @media (max-width: 992px) {
      .product h2 {
        font-size: 2rem; } }
    @media (max-width: 767px) {
      .product h2 {
        font-size: 1.25rem; } }
  .product h3 {
    font-size: 2rem; }
    @media (max-width: 992px) {
      .product h3 {
        font-size: 1.5rem;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .product h3 {
        font-size: 1rem;
        margin-bottom: 20px; } }

.opticalList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -5px; }
  @media (max-width: 992px) {
    .opticalList {
      margin-bottom: -7px; } }
  @media (max-width: 767px) {
    .opticalList {
      margin-bottom: 8px; } }
  .opticalList > li {
    width: 23%;
    margin-bottom: 104px; }
    @media (max-width: 992px) {
      .opticalList > li {
        width: 48%;
        margin-bottom: 72px; } }
    @media (max-width: 767px) {
      .opticalList > li {
        width: 100%;
        margin-bottom: 32px; } }

.sunglassesBanner li:first-child {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-3.png") no-repeat center;
  background-size: cover; }

.sunglassesBanner li:last-child {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2-color.png") no-repeat center;
  background-size: cover; }

.sunglasses {
  padding-bottom: 56px; }
  @media (max-width: 992px) {
    .sunglasses {
      padding-bottom: 24px; } }
  @media (max-width: 767px) {
    .sunglasses {
      padding-bottom: 56px; } }
  .sunglasses .pagination {
    display: none; }
    @media (max-width: 767px) {
      .sunglasses .pagination {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.sunglassesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .sunglassesList {
      margin-bottom: 8px; } }
  .sunglassesList > li {
    width: 32%;
    margin-bottom: 104px; }
    @media (max-width: 992px) {
      .sunglassesList > li {
        width: 48%;
        margin-bottom: 72px; } }
    @media (max-width: 767px) {
      .sunglassesList > li {
        width: 100%;
        margin-bottom: 32px; } }

.location {
  padding-top: 96px;
  padding-bottom: 128px; }
  @media (max-width: 992px) {
    .location {
      padding-top: 60px;
      padding-bottom: 36px; } }
  @media (max-width: 767px) {
    .location {
      padding-top: 28px;
      padding-bottom: 40px; } }
  .location h2 {
    padding-left: 16px;
    border-left: 8px solid #AA0601;
    font-weight: bold; }
    @media (max-width: 992px) {
      .location h2 {
        font-size: 3rem;
        border-left: 4px solid #AA0601;
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .location h2 {
        font-size: 1.75rem;
        padding-left: 8px;
        margin-bottom: 24px; } }

.locationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .locationList > li {
    width: 32%;
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .locationList > li {
        width: 48%;
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .locationList > li {
        width: 100%;
        margin-bottom: 16px; } }
    .locationList > li:last-child {
      margin-right: auto;
      margin-left: 2%; }
      @media (max-width: 992px) {
        .locationList > li:last-child {
          margin-right: 0;
          margin-left: 0; } }
  .locationList .detailBtn {
    background: #000;
    color: #fff;
    display: block;
    width: 100%;
    padding: 20px 0; }
    @media (max-width: 992px) {
      .locationList .detailBtn {
        font-size: 0.875rem;
        padding: 16px 0; } }
    .locationList .detailBtn:hover {
      background: #650300; }

.store {
  padding-top: 96px;
  padding-bottom: 128px; }
  @media (max-width: 992px) {
    .store {
      padding-top: 60px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .store {
      padding-top: 28px;
      padding-bottom: 56px; } }
  .store h2 {
    padding-left: 16px;
    border-left: 8px solid #AA0601;
    font-weight: bold; }
    @media (max-width: 992px) {
      .store h2 {
        font-size: 3rem;
        border-left: 4px solid #AA0601;
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .store h2 {
        font-size: 1.75rem;
        padding-left: 8px;
        margin-bottom: 24px; } }

.storeDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 992px) {
  .store-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0; }
    .store-card .card-img {
      width: 48%; }
    .store-card .card-body {
      width: 48%;
      border: 1px solid #00000021; } }

@media (max-width: 767px) {
  .store-card {
    display: block; }
    .store-card .card-img {
      width: 100%; }
    .store-card .card-body {
      width: 100%; } }

.store-content {
  width: 40%; }
  @media (max-width: 992px) {
    .store-content {
      width: 100%;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .store-content {
      margin-bottom: 16px; } }

.store-img {
  width: 57%; }
  @media (max-width: 992px) {
    .store-img {
      width: 100%; } }
  .store-img iframe {
    width: 100%;
    height: 100%; }
    @media (max-width: 992px) {
      .store-img iframe {
        height: 442px; } }
    @media (max-width: 767px) {
      .store-img iframe {
        height: 211px; } }

.blog-nav {
  background: #650300; }
  @media (max-width: 767px) {
    .blog-nav {
      display: none; } }
  .blog-nav .blogMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.blogMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blogMenuList li:first-child {
    margin-left: -24px; }
    @media (max-width: 992px) {
      .blogMenuList li:first-child {
        margin-left: -16px; } }
  .blogMenuList a {
    display: block;
    padding: 12px 24px;
    color: #fff; }
    @media (max-width: 992px) {
      .blogMenuList a {
        padding: 8px 16px; } }
    .blogMenuList a:hover {
      background: #AA0601; }

.blog-search a {
  display: block;
  width: 40px; }

.blog-search i {
  color: #fff;
  font-size: 2rem; }

.blog {
  padding-top: 40px;
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .blog {
      padding-top: 32px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .blog {
      padding-top: 28px;
      padding-bottom: 56px; } }
  .blog h2 {
    padding-left: 16px;
    border-left: 8px solid #AA0601;
    font-weight: bold; }
    @media (max-width: 992px) {
      .blog h2 {
        font-size: 3rem;
        border-left: 4px solid #AA0601;
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .blog h2 {
        font-size: 1.75rem;
        padding-left: 8px;
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .blog h2 {
        margin-bottom: 28px; } }

.blogList {
  margin-bottom: 96px; }
  @media (max-width: 992px) {
    .blogList {
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .blogList {
      margin-bottom: 40px; } }
  .blogList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    height: 400px;
    overflow: hidden; }
    @media (max-width: 992px) {
      .blogList li {
        height: 208px;
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .blogList li {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto;
        margin-bottom: 20px; } }
    .blogList li:last-child {
      margin-bottom: 0; }
  .blogList .blog-img {
    width: 57%; }
    @media (max-width: 992px) {
      .blogList .blog-img {
        width: 48%; } }
    @media (max-width: 767px) {
      .blogList .blog-img {
        width: 100%;
        height: 217px;
        overflow: hidden;
        margin-bottom: 8px; } }
    .blogList .blog-img img {
      width: 100%; }
      @media (max-width: 992px) {
        .blogList .blog-img img {
          -o-object-fit: cover;
             object-fit: cover; } }
  .blogList .blog-body {
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .blogList .blog-body {
        width: 48%; } }
    @media (max-width: 767px) {
      .blogList .blog-body {
        width: 100%; } }
    .blogList .blog-body h4 {
      font-size: 2rem;
      color: #650300; }
      @media (max-width: 992px) {
        .blogList .blog-body h4 {
          font-size: 1.25rem; } }
      @media (max-width: 767px) {
        .blogList .blog-body h4 {
          font-size: 1rem; } }
  @media (max-width: 992px) {
    .blogList .blog-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 100%; } }
  .blogList .blog-content > p {
    font-size: 1.25rem;
    color: #555555; }
    @media (max-width: 992px) {
      .blogList .blog-content > p {
        font-size: 0.875rem; } }
    @media (max-width: 767px) {
      .blogList .blog-content > p {
        display: none; } }
  .blogList .blog-content span {
    display: none; }
    @media (max-width: 992px) {
      .blogList .blog-content span {
        display: inline; } }
    .blogList .blog-content span a {
      color: #555555; }
      .blogList .blog-content span a:hover {
        text-decoration: underline; }
  .blogList .subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .blogList .subtitle {
        margin-bottom: 0; } }
    .blogList .subtitle p {
      font-size: 1.25rem; }
      @media (max-width: 992px) {
        .blogList .subtitle p {
          font-size: 1rem; } }
      @media (max-width: 767px) {
        .blogList .subtitle p {
          font-size: 0.875rem; } }
    .blogList .subtitle .date {
      font-size: 0.875rem; }
  .blogList .moreBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    line-height: 1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 992px) {
      .blogList .moreBtn {
        display: none; } }
    .blogList .moreBtn a {
      color: #650300;
      font-weight: bold; }
      .blogList .moreBtn a:hover {
        text-decoration: underline; }

.article {
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .article {
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .article {
      padding-bottom: 56px; } }

@media (max-width: 767px) {
  .article-nav {
    display: block; }
    .article-nav .blog-search {
      display: none; }
    .article-nav .blogMenuList {
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .article-nav .blogMenuList li:first-child {
        margin-left: -8px; }
      .article-nav .blogMenuList li:last-child {
        margin-right: -8px; }
      .article-nav .blogMenuList a {
        padding-left: 8px;
        padding-right: 8px; } }

.tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .tagList li {
    color: #AA0601;
    margin-right: 16px;
    font-weight: bold; }
    @media (max-width: 992px) {
      .tagList li {
        margin-right: 8px;
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .tagList li {
        font-size: 0.875rem;
        margin-right: 4px; } }

.articleDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .articleDetail .article-content {
    width: 74%; }
    @media (max-width: 992px) {
      .articleDetail .article-content h2 {
        font-size: 2rem;
        margin-bottom: 4px; } }
  @media (max-width: 992px) and (max-width: 767px) {
    .articleDetail .article-content h2 {
      font-size: 1.25rem;
      margin-bottom: 0; } }
    @media (max-width: 767px) {
      .articleDetail .article-content {
        width: 100%;
        margin-bottom: 30px; } }
  .articleDetail .subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .articleDetail .subtitle {
        margin-bottom: 20px; } }
    .articleDetail .subtitle h3 {
      font-size: 1.75rem; }
      @media (max-width: 767px) {
        .articleDetail .subtitle h3 {
          font-size: 0.875rem; } }
    .articleDetail .subtitle .date {
      color: #6C6C6C; }
      @media (max-width: 992px) {
        .articleDetail .subtitle .date {
          font-size: 0.875rem; } }
  .articleDetail .article-tags {
    width: 23%; }
    @media (max-width: 767px) {
      .articleDetail .article-tags {
        width: 100%; } }
    .articleDetail .article-tags h3 {
      color: #AA0601;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1.75rem; }
      @media (max-width: 992px) {
        .articleDetail .article-tags h3 {
          font-size: 1.25rem; } }
      .articleDetail .article-tags h3 img {
        margin-right: 8px; }
        @media (max-width: 992px) {
          .articleDetail .article-tags h3 img {
            width: 24px; } }
    .articleDetail .article-tags li {
      margin-right: 24px; }
      @media (max-width: 992px) {
        .articleDetail .article-tags li {
          margin-right: 16px;
          font-size: 1rem; } }
      @media (max-width: 767px) {
        .articleDetail .article-tags li {
          margin-right: 8px; } }

@media (max-width: 992px) {
  .contents {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .contents {
    margin-bottom: 20px; } }

@media (max-width: 992px) {
  .contents li {
    margin-bottom: 24px; } }

.contents p {
  color: #0A0A0A; }
  @media (max-width: 992px) {
    .contents p {
      font-size: 1rem; } }
  .contents p span {
    display: block; }
    @media (max-width: 767px) {
      .contents p span {
        display: inline; } }

.contents .conclusion {
  margin-top: 32px; }
  @media (max-width: 992px) {
    .contents .conclusion {
      margin-top: 24px; } }

.content-img {
  overflow: hidden; }
  @media (max-width: 992px) {
    .content-img {
      margin-bottom: 16px; } }
  .content-img img {
    width: 100%; }

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .share {
      margin-bottom: 16px; } }
  .share a {
    display: block;
    color: #000; }
  .share > a {
    margin-right: 20px; }
    @media (max-width: 992px) {
      .share > a {
        margin-right: 16px; } }
    .share > a:hover {
      text-decoration: underline; }

.soical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .soical li {
    margin-right: 16px; }
  .soical i {
    font-size: 1.5rem; }
    .soical i:hover {
      color: #AA0601; }

.changePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  border-top: 1px solid #707070; }
  @media (max-width: 992px) {
    .changePage {
      padding-top: 16px; } }
  @media (max-width: 767px) {
    .changePage {
      padding-top: 10px;
      display: block; }
      .changePage i {
        width: 24px;
        padding: 4px; } }
  .changePage li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .changePage li {
        font-size: 0.875rem; }
        .changePage li:last-child {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          margin-top: 8px; } }
  .changePage a {
    color: #000;
    margin: 0 8px;
    display: block; }
    @media (max-width: 992px) {
      .changePage a {
        margin: 0 4px; } }
    @media (max-width: 767px) {
      .changePage a {
        margin: 0; } }
    .changePage a:hover {
      text-decoration: underline; }

.faq {
  padding-top: 96px;
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .faq {
      padding-top: 60px;
      padding-bottom: 72px; } }
  @media (max-width: 767px) {
    .faq {
      padding-top: 28px;
      padding-bottom: 36px; } }
  .faq h2 {
    padding-left: 16px;
    border-left: 8px solid #AA0601;
    font-weight: bold; }
    @media (max-width: 992px) {
      .faq h2 {
        font-size: 3rem;
        border-left: 4px solid #AA0601;
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .faq h2 {
        font-size: 1.75rem;
        padding-left: 8px;
        margin-bottom: 24px; } }
  .faq h3 {
    font-size: 2rem;
    margin-bottom: 36px; }
    @media (max-width: 992px) {
      .faq h3 {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .faq h3 {
        font-size: 1.25rem;
        margin-bottom: 24px; } }

@media (max-width: 992px) {
  .faqList li {
    margin-bottom: 24px; } }

@media (max-width: 767px) {
  .faqList li {
    margin-bottom: 20px; } }

.faqList h4 {
  font-weight: bold; }
  @media (max-width: 992px) {
    .faqList h4 {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    .faqList h4 {
      margin-bottom: 8px; } }

.faqList span {
  display: block; }
  @media (max-width: 767px) {
    .faqList span {
      display: inline; } }

.faqList p {
  width: 83%;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .faqList p {
      width: 93%;
      margin-right: 0; } }
  @media (max-width: 767px) {
    .faqList p {
      width: 100%;
      margin-left: 0; }
      .faqList p:last-child {
        margin-top: 24px; } }

/*# sourceMappingURL=all.css.map */
