/* location card */
.location-card{
  border: 1px solid #00000020;
  .card-img{
    img{
      height: 224px;
      width: 100%;
      object-fit: cover;
      @include pad{
        height: 164px;
      }
    }
  }
}

.card-body{
  color: $content;
  h3{
    padding: $spacer*1.5 $spacer*3;
    border-bottom: 1px solid #00000020;
    @include pad{
      padding: $spacer $spacer*2;
      font-size: $font-base;
    }
    @include mobile{
      padding: $spacer $spacer*3;
    }
  }
  .cardList{
    padding: $spacer*2 $spacer*3;
    li{
      font-size: $fs7-font;
      @include pad{
        font-size: $fs8-font;
      }
    }
    .card-icon{
      display: inline-block;
      width: 24px;
      margin-right: $spacer;
      @include pad{
        width: 20px;
      }
    }
  }
}

/* product card */
.product-card{
  .card-img{
    img{
      width: 100%;
      height: 164px;
      object-fit: cover;
      @include mobile{
        height: 166px;
      }
    }
  }
  .card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      color: $primary;
    }
  }
  .colorList{
    display: flex;
    li{
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: $spacer;
      &:first-child{
        background: #5F3E2D;
      }
      &:last-child{
        background: #B75929;
      }
    }
  }
}